<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bubba.yolanda.grocery"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="2"
        android:targetSdkVersion="2" />

    <uses-permission
        android:name="android.permission.SEND_SMS"
        android:required="false" />
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:icon="@drawable/yolandasshoppinglist"
        android:label="@string/app_name" >
        <activity
            android:name=".YolandasGroceryListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BigListActivity" />
        <activity android:name="org.bubba.yolanda.edittextphonenbrs.EditTextMsgNumbersActivity" />
    </application>

</manifest>